# Python
*.pyc

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64
.swp

# Temp
build
dist
*.local

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb
.DS_Store
tmp-*
.vector_cache
.data
.textcnn
.pytest_cache
*.pkl
